@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #f2f4f7;
  color: #0d1b12;
}


.custom-leaflet-pin {
  background: transparent !important;
  border: none !important;
}

section {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 48px;
  padding-right: 40px;
}
