@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #f2f4f7;
  color: #0d1b12;
}


.custom-leaflet-pin {
  background: transparent !important;
  border: none !important;
}

select,
input[type="date"],
input[type="datetime-local"] {
  width: 100%;
  box-sizing: border-box;
  height: 48px;
}